body {  
    background: rgb(44, 39, 39);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.weblink {       
    color: white;
    text-align: center
}

.weblink h1 {
    margin-right: 0.1cm;
    font-size: 1.5cm;
    color: lightcoral;   
}

.weblink a {
    color: white;
    text-decoration: none;
}

.weblink a:hover {
    color: lightcoral;
    text-decoration:underline;
}

.weblink nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.weblink nav ul li {
    display: inline-block;
    margin-right: 15px; 
}

.randos h2  {
    color: white;
    text-align: center; 
}

.randos {
    text-align: center;
}

.randos img {
    border-radius: 50%;
    text-align: center;
    width: 200px;
}

.info h3 {
    color: white;
    font-size: 1cm;
    margin-top: 100px;
    text-align: center;
}

.info h4 {
    color: white;
    text-align: center;
}

.info h5 {
    text-align: center;
    font-size: 1cm;
}

.info a {
    color: lightcoral;
}

.info a:hover {
    color: cyan;
}

.border {
    width: 350px;
    height: 35px;
    border: 5px solid lightcoral;
    margin: 18px auto;
}