body {  
    background: rgb(44, 39, 39);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;   
    margin: 0;
    padding: 0;
}

.weblink {
    color: white;
    text-align: center
}

.weblink h1 {
    font-size: 1.5cm;
    text-shadow: gray 0 0 1px;
    color: lightcoral;   
    position: relative;
    right: 20px;
}

.weblink a {
    color: white;
    text-decoration: none;
    position: relative;
    left: 5px;
    text-align: center;
}

.weblink a:hover {
    color: lightcoral;
    text-decoration:underline;
}

.weblink nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.weblink nav ul li {
    display: inline-block;
    margin-right: 15px; 
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contacts figure {
    position: relative;
    top: 50px;
    margin-left: 5cm;
}

.contacts figure figcaption {
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
}

.contacts figure img{
    border-radius: 50%;
    width: 200px;
}

.border {
    width: 400px;
    height: 35px;
    border: 5px solid lightcoral;
    margin-left: 19cm;  
}